

@font-face {
    font-family: 'along-sans';
    src: url('./font/AlongSanss2-Bold.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'S-CoreDream-3Light';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.nanum-myeongjo-regular {
    font-family: "Nanum Myeongjo", serif;
    font-weight: 400;
    font-style: normal;
}

.black-han-sans-regular {
    font-family: "Black Han Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  .comfortaa-regular {
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
  }

  .quicksand{
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
  }

  .albert-sans {
    font-family: "Albert Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
  }

/* 페이드 인 애니메이션 */
.fade-in {
    animation: fadeIn 0.5s ease forwards;
  }
  
  /* 페이드 아웃 애니메이션 */
  .fade-out {
    animation: fadeOut 0.5s ease forwards;
  }
  
  @keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
  }
  
  @keyframes fadeOut {
    from { opacity: 1; }
    to { opacity: 0; }
  }
  
.gradient-text {
    background: linear-gradient(45deg, #4E45FF, #2E9AFE);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.gradient-text2 {
    background: linear-gradient(45deg, yellow, white); /* 배경 그래디언트 */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.Pretendard-Regular{
    font-family: 'Pretendard'; font-weight: 400;
}

.Pretendard-Bold{
    font-family: 'Pretendard'; font-weight: 700;
}

.black-text{
    color: #000;
}


body{
    background-color: #fff;
    font-family: 'Pretendard'; font-weight: 400;
    overflow-x: hidden;
    overflow-y: auto;
    overscroll-behavior: none;
}

a{
    text-decoration: none;
}  
  

.mobile-line-break {
    display: none;
}

.main-title{
    font-size: 5rem;
}

.sub-title{
    font-size: 30px;
}

.title {
    line-height: 3rem;
    font-size: 40px;
}

.sub-title3{
    font-size: 2rem;
    text-align: center;
}
.sub-title4{
    font-size: 1.5rem;
    padding: 50px;
}
.sub-title-tech {
    font-size: 1.2rem;
    padding: 20px;
    line-height: 2.5rem;
}
.sub-title5{
    font-size: 1.5rem;
    margin-top: 1.5rem;
}
.custom-row {
    margin-right: -15px;
    margin-left: -15px;
}

.description{
    font-size: 18px;
    margin-top: 30px;
}

.sub-title-btn-space{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f2f2f2;
    height: 150px;
}
.custom-box-description{
    height: 200px;display: flex;justify-content: center;align-items: center;padding: 100px;
}
.custom-btn{
    height: 150px; display: flex;justify-content: center;align-items: center;
}

.sub-title-btn{
    width: 120px;
    height: 50px;
    background-color: #000;
    font-size: 1.2rem;
}

.circle-ppsition{
    height: 500px;
    margin-top: 20px;
}


.sub-title-textbox-case{
    height: 350px;
    background-color: transparent;
}

.dream-font{
    font-family: "S-CoreDream-3Light";
}

.black-font{
    font-family: "Black Han Sans", sans-serif;
}

.mzo_font{
    font-family: "Nanum Myeongjo", serif;
}

.nav-item a {
    font-size: 0.8rem;
    color: #000 !important;
}

.wrap{
    font-family: "Pretendard-Regular";
    margin: 0 auto;
}

.insight-box-blue{
    background: linear-gradient(45deg, #4E45FF, #0431B4);
}

.insight-box-deepblue{
    background: linear-gradient(45deg, #0431B4, #0A0A2A);
}

.insight-box-grey{
    background: linear-gradient(45deg, #f2f2f2, #d4d4d4);
}

.insight-box-title-dark{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-family: 'Pretendard'; 
    font-weight: 700;
    padding: 20px;
    border-bottom: 0.5px solid #fff;
}

.insight-box-title-light{
    color: 000;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-family: 'Pretendard'; 
    font-weight: 700;
    padding: 20px;
    border-bottom: 0.5px solid #000;
}

.insight-box-description-dark{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px;
    font-size: 18px;
    color: #fff;
}

.insight-box-description-light{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px;
    font-size: 18px;
    color: #000;
}

.top-line{
    border-top: 0.5px solid #000;
}

.top-line-w{
    border-top: 0.5px solid grey;
}

.top-line-white{
    border-top: 0.5px solid white;
}


.top-margin-20{
    margin-top: 200px;
}

.top-margin-10{
    margin-top: 80px;
}

.top-margin-5{
    margin-top: 40px;
}

.top-margin-3{
    margin-top: 20px;
}

.top-padding3{
    padding-top: 20px;;
}

.main-box{
    background-color: #f2f2f2;
    color: black;
    border-radius: 10px;
    display: flex;
    align-items: center;
    height: 120px;
    justify-content: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.fn-box{
    height: 40px;
    font-size: 1.2rem;
    background-color: white;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 3%;
    color: #4E45FF;
}

.govern-table-head-left{
    border-top: 1px solid #000;
    border-left: 1px solid #000;
    border-right: 0.5px solid #000;
    border-bottom: 0.5px solid #000;

    height:40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.govern-table-head-right{
    border-top: 1px solid #000;
    border-left: 0.5px solid #000;
    border-right: 1px solid #000;
    border-bottom: 0.5px solid #000;

    height:40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.govern-table-content-left{
    border-top: 0.5px solid #000;
    border-left: 1px solid #000;
    border-right: 0.5px solid #000;
    border-bottom: 0.5px solid #000;

    height:80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.govern-table-content-left-360{
    border-top: 1px solid #000;
    border-left: 1px solid #000;
    border-right: 0.5px solid #000;
    border-bottom: 1px solid #000;

    height:80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.govern-table-content-right{
    border-top: 0.5px solid #000;
    border-left: 0.5px solid #000;
    border-right: 1px solid #000;
    border-bottom: 0.5px solid #000;

    height:80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.govern-table-content-right-360{
    border-top: 1px solid #000;
    border-left: 0.5px solid #000;
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;

    height:80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.reason-box-govern{
    width: 100%;
    color: #000;
    border-radius: 0.5rem;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.insight-fn-box-blue{
    background: linear-gradient(45deg, #4E45FF, #0431B4);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid #fff;
    padding-top: 15px;
    height: 100px;
}

.insight-fn-box-deepblue{
    background: linear-gradient(45deg, #0431B4, #0A0A2A);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid #fff;
    padding-top: 15px;
    height: 100px;
}

.insight-fn-box-darkblue{
    background: linear-gradient(45deg, #0A0A2A, #000);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid #fff;
    padding-top: 15px;
    height: 100px;
}

.insight-fn-box-grey{
    background: linear-gradient(45deg, #f2f2f2, #d4d4d4);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid #fff;
    padding-top: 15px;
    height: 100px;
}

.top-box{
    background-color: #4E45FF;
    border: none;
    height: 400px;
    color: #fff;
    font-size: 1.5rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.top-box-2{
    background-color: #4E45FF;
    border-radius: 10px;
    height: 500px;
    color: white;
    font-size: 1.5rem;
    text-align: center;
}
.p-10{
    padding: 10px;
}
.p-20{
    padding: 20px;
}
.big-title{
    font-size: 80px;
    margin-top: 50px;
}

.process-box1{
    border: 1px solid #000;
    background-color: #fff;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.process-box2{
    border: 1px solid #000;
    background-color: #2Efff2E2E;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.process-box3{
    border: 1px solid #000;
    background-color: #fff;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.example-box-govern{
    width: 100%;
    border: 0.5px solid #b8b8b8;
    height: 60px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    font-size: 14px;
    background-color: #fff;
}

.reason-box-tech{
    width: 100%;
    background-color: #f2f2f2;
    color: #585858;
    border-radius: 0.5rem;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.case-box{
    background-color: #aadafa;
    border-radius: 10px;color: #4E45FF;
    width: 100%;font-size: 1.2rem;
    height:50px;display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}


.circle {
    width: 100px;           /* 원의 가로 크기 */
    height: 100px;          /* 원의 세로 크기 */
    border: 0.5px solid #5882FA;
    border-radius: 50%;     /* 둥글게 처리해서 원으로 만듦 */
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(45deg, #4E45FF, #4E45FF); /* 배경 그래디언트 */
    color: #fff;          /* 텍스트 색상 */
    box-sizing: border-box; /* 테두리를 width와 height에 포함 */
}


.solution-box{
    height: 450px;
    display: flex; 
    align-items: center;
}
.solution-box-real{
    width: 100%;
    height:100%;
    background: linear-gradient(45deg, #4E45FF, #2E9AFE);
    border-radius: 15px;
    color: white;
    border: 0.5px solid #5882FA;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.solution-box-1{
    font-size: 1.2rem;
    text-align: center;
    height:10%;
}

.solution-box-2{
    text-align: center;
    height:10%;
}

.solution-box-3{
    height:40%;
    background-color: transparent;
}

.solution-box-4{
    height:20%;
}


.orange-btn:hover{
    background-color: #fff;
    border: 1px solid #000;
    color: #000;
}
.orange-btn {
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
    font-weight: bold;
}

.blue-btn{
    background-color: #4E45FF;
    font-size: 0.8rem;
}
.blue-btn:hover {
    background-color: #000;
    color: #fff;
    font-weight: bold;
}



/* 오른쪽 화살표와 라인 */
.arrow-line-right {
    display: inline-block;
    position: relative;
    width: 100%; /* 라인의 길이 */
    height: 2px; /* 라인의 두께 */
    background-color: #4E45FF;
}

/* 오른쪽 화살표와 라인 */
.arrow-line-right-w {
    display: inline-block;
    position: relative;
    width: 100%; /* 라인의 길이 */
    height: 2px; /* 라인의 두께 */
    background-color: white;
}
  
.arrow-line-right::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 0px; /* 라인과 화살표 사이의 거리 */
    transform: translateY(-50%);
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 15px solid #4E45FF;
}

.arrow-line-right-w::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 0px; /* 라인과 화살표 사이의 거리 */
    transform: translateY(-50%);
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 15px solid #fff;
}
  
  /* 왼쪽 화살표와 라인 */
  .arrow-line-left {
    display: inline-block;
    position: relative;
    width: 100%; /* 라인의 길이 */
    height: 2px; /* 라인의 두께 */
    background-color: #4E45FF;
  }

/* 왼쪽 화살표와 라인 */
.arrow-line-left-w {
    display: inline-block;
    position: relative;
    width: 100%; /* 라인의 길이 */
    height: 2px; /* 라인의 두께 */
    background-color: #fff;
  }
  
  .arrow-line-left::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0px; /* 라인과 화살표 사이의 거리 */
    transform: translateY(-50%);
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 15px solid #4E45FF;
  }

  .arrow-line-left-w::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0px; /* 라인과 화살표 사이의 거리 */
    transform: translateY(-50%);
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 15px solid #fff;
  }
  
  /* 위쪽 화살표와 라인 */
  .arrow-line-up {
    display: inline-block;
    position: relative;
    width: 2px; /* 라인의 두께 */
    height: 100%; /* 라인의 길이 */
    background-color: #4E45FF;
  }

/* 위쪽 화살표와 라인 */
.arrow-line-up-w {
    display: inline-block;
    position: relative;
    width: 2px; /* 라인의 두께 */
    height: 100%; /* 라인의 길이 */
    background-color: #fff;
  }
  
.arrow-line-up::after {
    content: "";
    position: absolute;
    top: 0px; /* 라인과 화살표 사이의 거리 */
    left: 50%;
    transform: translateX(-50%);
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 15px solid #4E45FF;
}

.arrow-line-up-w::after {
    content: "";
    position: absolute;
    top: 0px; /* 라인과 화살표 사이의 거리 */
    left: 50%;
    transform: translateX(-50%);
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 15px solid #fff;
}
  
/* 아래쪽 화살표와 라인 */
.arrow-line-down {
    display: inline-block;
    position: relative;
    width: 2px; /* 라인의 두께 */
    height: 100%; /* 라인의 길이 */
    background-color: #4E45FF;
}

/* 아래쪽 화살표와 라인 */
.arrow-line-down-w {
    display: inline-block;
    position: relative;
    width: 2px; /* 라인의 두께 */
    height: 100%; /* 라인의 길이 */
    background-color: #fff;
}
  
.arrow-line-down::after {
    content: "";
    position: absolute;
    bottom: 0px; /* 라인과 화살표 사이의 거리 */
    left: 50%;
    transform: translateX(-50%);
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 15px solid #4E45FF;
}

.arrow-line-down-w::after {
    content: "";
    position: absolute;
    bottom: 0px; /* 라인과 화살표 사이의 거리 */
    left: 50%;
    transform: translateX(-50%);
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 15px solid #fff;
}


.grid-item{
    height: 120px;
    margin-bottom: 10px;
}
  
.item{
    height: 100%;
    background-color: white;
    border-radius: 10px;
    text-align: center;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0.5px solid #d4d4d4;
}

.hlt{
    background-color: yellow;
    color: #4E45FF;
}
  
.horizontal_logo {
    width: 60%;
    height: auto;
}
  
.veritical_logo {
    height: 80%;
    width: auto;
}

.footer-bw{
    background-color: #4E45FF;
}

.footer-wrap{
    margin: 0 auto;
    color: white;
    font-size: 0.8rem;
    line-height: 1.5rem;
}

.footer-wrap a{
    text-decoration: none;
    color: white;
}

.image-container1 {
    width: 100%;
    height: 250px; /* 이미지를 보여줄 높이 */
    overflow: hidden; /* 넘치는 부분 숨기기 */
}
  
.cropped-image1 {
    width: 100%;
    height: auto;
    object-fit: cover; /* 이미지 비율을 유지하면서 잘 맞춤 */
    /*object-position: center -50px; /* Y 축으로 -50px만큼 이동 */
}

.image-container2 {
    width: 100%;
    height: 920px; /* 이미지를 보여줄 높이 */
    overflow: hidden; /* 넘치는 부분 숨기기 */
}
  
.cropped-image2 {
    width: 100%;
    height: auto;
    object-fit: cover; /* 이미지 비율을 유지하면서 잘 맞춤 */
    object-position: center -250px; /* Y 축으로 -50px만큼 이동 */
}

.image-container3 {
    width: 100%;
    height: 1000px; /* 이미지를 보여줄 높이 */
    overflow: hidden; /* 넘치는 부분 숨기기 */
}
  
.cropped-image3 {
    width: 100%;
    height: auto;
    object-fit: cover; /* 이미지 비율을 유지하면서 잘 맞춤 */
    object-position: center 0px; /* Y 축으로 -50px만큼 이동 */
}

.image-container4 {
    width: 100%;
    height: 400px; /* 이미지를 보여줄 높이 */
    overflow: hidden; /* 넘치는 부분 숨기기 */
}
  
.cropped-image4 {
    width: 100%;
    height: auto;
    object-fit: cover; /* 이미지 비율을 유지하면서 잘 맞춤 */
    object-position: center -250px; /* Y 축으로 -50px만큼 이동 */
}

.main-box-partners2{
    height: 350px;
    padding: 10px;
}
.text-govern{
    margin-top: 2rem;
}
.mid-title{
    margin-top: 20px;
    font-size: 2.5rem;
    color: black;
}
.arrow-title-up{
    width:100%;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.arrow-title-dn{
    width:100%;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.arrow-rotate-up{
    width: 70%; 
    transform: rotate(180deg);
}

.arrow-no-rotate-up{
    width: 70%; 
}

.arrow-rotate-dn{
    width: 70%; 
    transform: rotate(180deg);
}

.arrow-no-rotate-dn{
    width: 70%; 
}

.index-main1{
    /*background: linear-gradient(45deg, #4E45FF, #2E9AFE);*/
    background-color: #fff;
    padding: 60px;
}
.insight-fn1{
    display: flex;align-items: center;justify-content: center;font-size: 1rem;
}
.insight-fn2{
    font-size: 0.7rem;display: flex;align-items: center;justify-content: center;
}
.case-table{
    padding: 8px;
    border: 0.5px solid #000;
    height: 60px;
}

.capa-main-title{
    font-size: 8rem;color: #fff;
}

.team-main-title{
    font-size: 9rem;color: #fff;
}
.gov-main-title{
    font-size: 6.4rem;color: #fff;
}

.solution-box-blue{
    height:100px;
    background: linear-gradient(45deg, #4E45FF, #0431B4);
}

.solution-box-deepblue{
    height:100px;
    background: linear-gradient(45deg, #0431B4, #0A0A2A);
}

.solution-box-grey{
    height:100px;
    background: linear-gradient(45deg, #f2f2f2, #d4d4d4);
}
.main-image{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: auto; /* 비율 유지 */
    min-width: 100vw; /* 모바일에서 좌우 꽉 차게 */
    min-height: 100vh; /* 모바일에서 상하 꽉 차게 */
    object-fit: cover; /* 왜곡 없이 꽉 채우기 */
}

.main-image-container {
    position: relative;
    width: 100vw; /* 뷰포트 너비 */
    height: 70vh; /* 뷰포트 높이 */
    overflow: hidden;
}




/*중간화면*/
@media (min-width: 768px) {
    .wrap{
        width: 70%;
    }
    .index-main1{
        padding: 20px;
    }
    .case-box{
        font-size: 1rem;
    }
    .capa-main-title{
        font-size: 5.8rem;color: #fff;
    }
    .team-main-title{
        font-size: 6.6rem;color: #fff;
    }
}

/* 큰 화면 (1200px 이상)에서는 더 큰 폰트 */
@media (min-width: 1600px) {
    .mid-title {
        font-size: 2.5rem; /* 더 큰 화면에서는 더욱 큰 폰트 */
    }
    .gov-main-title{
        font-size: 8.5rem;color: #fff;
    }
}


/*모바일*/
@media (max-width: 768px) {
    .wrap{
        width: 90%;
    }
    .mobile-line-break {
        display: flex; /* 데스크탑에서는 줄바꿈 태그 숨기기 */
    }
    .main-title {
        font-size: 4rem; /* 모바일 화면에서 폰트 크기 */
        line-height: 3rem;
    }
    .sub-title {
        line-height: 3rem;
        margin-top: 50px;
        font-size: 20px;
    }
    .title {
        line-height: 3rem;
        margin-top: 100px;
        font-size: 20px;
    }
    .main-box{
        padding:40px;
        height:150px;
    }

    .image-container1{
        height: 150px; /* 이미지를 보여줄 높이 */
    }
    .image-container2{
        height: 230px; /* 이미지를 보여줄 높이 */
    }
    .cropped-image2 {
        object-position: center -300px; /* Y 축으로 -50px만큼 이동 */
    }
    .image-container3{
        height: 400px; /* 이미지를 보여줄 높이 */
    }

    .big-title{
        font-size: 4.5rem;
        color: white;
    }
   
}