

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('./font/PretendardVariable.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'S-CoreDream-3Light';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.nanum-myeongjo-regular {
    font-family: "Nanum Myeongjo", serif;
    font-weight: 400;
    font-style: normal;
}

.black-han-sans-regular {
    font-family: "Black Han Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

/* 페이드 인 애니메이션 */
.fade-in {
    animation: fadeIn 0.5s ease forwards;
  }
  
  /* 페이드 아웃 애니메이션 */
  .fade-out {
    animation: fadeOut 0.5s ease forwards;
  }
  
  @keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
  }
  
  @keyframes fadeOut {
    from { opacity: 1; }
    to { opacity: 0; }
  }
  
.gradient-text {
    background: linear-gradient(45deg, #4E45FF, #2E9AFE);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.gradient-text2 {
    background: linear-gradient(45deg, yellow, white); /* 배경 그래디언트 */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
  

body{
    background-image: linear-gradient(90deg, #fff, #fff);
    font-family: "Pretendard-Regular";
    overflow-x: hidden;
    overflow-y: auto;
    overscroll-behavior: none;
}

a{
    text-decoration: none;
}  
  

.mobile-line-break {
    display: none;
}

.main-title{
    font-size: 5rem;
}

.sub-title{
    font-size: 2rem;
}

.sub-title2{
    font-size: 2rem;
    font-weight: bold;
    padding: 0.6rem 0 0 0;
    line-height: 3.2rem;
}

.sub-title3{
    font-size: 2rem;
    text-align: center;
}
.sub-title4{
    font-size: 1.5rem;
    padding: 50px;
}
.sub-title-tech {
    font-size: 1.2rem;
    padding: 20px;
    line-height: 2.5rem;
}
.sub-title5{
    font-size: 1.5rem;
    margin-top: 1.5rem;
}

.sub-title6{
    font-size: 1.2rem;
    margin-top: 1.5rem;
}

.sub-title-btn-space{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sub-title-btn{
    width: 120px;
    height: 50px;
    background-color: #000;
    font-size: 1.2rem;
}

.sub-title-textbox{
    height: 400%;
    background-color: transparent;
}
.circle-ppsition{
    height: 500px;
    margin-top: 20px;
}


.sub-title-textbox-case{
    height: 350px;
    background-color: transparent;
}

.dream-font{
    font-family: "S-CoreDream-3Light";
}

.black-font{
    font-family: "Black Han Sans", sans-serif;
}

.mzo_font{
    font-family: "Nanum Myeongjo", serif;
}

.nav-item a {
    font-size: 0.8rem;
    color: #4E45FF !important;
}

.wrap{
    font-family: "Pretendard-Regular";
    width: 70%;
    margin: 0 auto;
    color: #848484;
}

.highlight {
    background-color: yellow;
    font-weight: bold;
  }

.top-line{
    border-top: 0.5px solid #000;
}

.top-line-w{
    border-top: 0.5px solid grey;
}

.top-line-white{
    border-top: 0.5px solid white;
}


.top-margin-20{
    margin-top: 200px;
}

.top-margin-10{
    margin-top: 80px;
}

.top-margin-5{
    margin-top: 40px;
}

.top-margin-3{
    margin-top: 20px;
}

.top-padding3{
    padding-top: 20px;;
}

.main-box{
    /*background-color: #f2f2f2;*/
    background: linear-gradient(45deg, #4E45FF, #2E9AFE);
    color: white;
    border: 0.5px solid #5882FA;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    height: 100px;
    padding: 10px 0px 10px 0%;
    justify-content: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.fn-box{
    height: 40px;
    font-size: 1.2rem;
    background-color: white;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 3%;
    color: #4E45FF;
}

.top-title{
    width: 100%;
    background-color: white;
    border-top-left-radius: 10px; /* 왼쪽 위 모서리 */
    border-top-right-radius: 10px; /* 오른쪽 위 모서리 */
    border-bottom-left-radius: 0; /* 아래쪽은 둥글지 않게 */
    border-bottom-right-radius: 0;
    font-size: 1.5rem;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #4E45FF;
}

.main-box-partners{
    background-color: #f2f2f2;
    background: linear-gradient(45deg, #4E45FF, #2E9AFE);
    height: 380px;
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    padding: 40px;
    border: 0.5px solid #5882FA;
}

.reason-box{
    width: 100%;
    background: linear-gradient(45deg, #4E45FF, #2E9AFE);
    color: #fff;
    height: 400px;
    border-radius: 0.5rem;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.5px solid #5882FA;
}

.reason-box-box{
    padding: 20px;
    background-color: #ffff;
    color: #585858;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.reason-box-govern{
    width: 100%;
    background: linear-gradient(45deg, #4E45FF, #2E9AFE);
    color: #fff;
    height: 700px;
    border-radius: 0.5rem;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.insight-fn-box{
    border: 0.5px solid #4E45FF;
    border-radius: 10px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    color: #4E45FF;
}

.top-box{
    background-color: transparent;
    border: 0.5px solid white;
    border-radius: 10px;
    height: 200px;
    color: #fff;
    font-size: 1.5rem;
    text-align: center;
}
.top-box-2{
    background-color: transparent;
    border: 0.5px solid white;
    border-radius: 10px;
    height: 500px;
    color: #fff;
    font-size: 1.5rem;
    text-align: center;
}
.p-10{
    padding: 10px;
}
.p-20{
    padding: 20px;
}
.big-title{
    font-size: 3rem;
    color: white;
}

.process-box{
    border: 0.5px solid #CEE3F6;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.example-box-govern{
    width: 100%;
    border: 0.5px solid #5882FA;
    height: 60px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.partner-box{
    width: 100%;
    height:100% ;
    padding: 30px;
    background: linear-gradient(45deg, #4E45FF, #2E9AFE);
    border-radius: 1vh;
    font-size: 1.5rem;
    color: #fff;
}

.reason-box-custom{
    width: 100%;
    background: linear-gradient(45deg, #4E45FF, #2E9AFE);
    color: #fff;
    height: 450px;
    border-radius: 0.5rem;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.reason-box-tech{
    width: 100%;
    background-color: #f2f2f2;
    color: #585858;
    border-radius: 0.5rem;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.circle {
    width: 100px;           /* 원의 가로 크기 */
    height: 100px;          /* 원의 세로 크기 */
    border: 0.5px solid #5882FA;
    border-radius: 50%;     /* 둥글게 처리해서 원으로 만듦 */
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(45deg, #81BEF7, CEE3F6); /* 배경 그래디언트 */
    color: #08088A;          /* 텍스트 색상 */
    box-sizing: border-box; /* 테두리를 width와 height에 포함 */
}


.solution-box{
    height: 450px;
    display: flex; 
    align-items: center;
}
.solution-box-real{
    width: 100%;
    height:100%;
    background: linear-gradient(45deg, #4E45FF, #2E9AFE);
    border-radius: 15px;
    color: white;
    border: 0.5px solid #5882FA;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.solution-box-1{
    font-size: 1.2rem;
    text-align: center;
    height:10%;
}

.solution-box-2{
    text-align: center;
    height:10%;
}

.solution-box-3{
    height:40%;
    background-color: transparent;
}

.solution-box-4{
    height:20%;
}

.orange-btn{
    background: linear-gradient(45deg, #FF4000, orange);
    font-size: 0.8rem;
    border: 1px solid #FF4000;
}
.orange-btn:hover {
    background: linear-gradient(45deg, black, black);
    border: 1px solid #000;
    color: #fff;
    font-weight: bold;
}

.blue-btn{
    background: linear-gradient(45deg, #4E45FF, #2E9AFE);
    font-size: 0.8rem;
    border: 1px solid #4E45FF;
}
.blue-btn:hover {
    background: linear-gradient(45deg, black, black);
    border: 1px solid #000;
    color: #fff;
    font-weight: bold;
}



/* 오른쪽 화살표와 라인 */
.arrow-line-right {
    display: inline-block;
    position: relative;
    width: 100%; /* 라인의 길이 */
    height: 2px; /* 라인의 두께 */
    background-color: grey;
}
  
.arrow-line-right::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 0px; /* 라인과 화살표 사이의 거리 */
    transform: translateY(-50%);
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 15px solid #000;
}
  
  /* 왼쪽 화살표와 라인 */
  .arrow-line-left {
    display: inline-block;
    position: relative;
    width: 100%; /* 라인의 길이 */
    height: 2px; /* 라인의 두께 */
    background-color: #000;
  }
  
  .arrow-line-left::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0px; /* 라인과 화살표 사이의 거리 */
    transform: translateY(-50%);
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 15px solid #000;
  }
  
  /* 위쪽 화살표와 라인 */
  .arrow-line-up {
    display: inline-block;
    position: relative;
    width: 2px; /* 라인의 두께 */
    height: 100%; /* 라인의 길이 */
    background-color: #000;
  }
  
.arrow-line-up::after {
    content: "";
    position: absolute;
    top: 0px; /* 라인과 화살표 사이의 거리 */
    left: 50%;
    transform: translateX(-50%);
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 15px solid #000;
}
  
/* 아래쪽 화살표와 라인 */
.arrow-line-down {
    display: inline-block;
    position: relative;
    width: 2px; /* 라인의 두께 */
    height: 100%; /* 라인의 길이 */
    background-color: #000;
}
  
.arrow-line-down::after {
    content: "";
    position: absolute;
    bottom: 0px; /* 라인과 화살표 사이의 거리 */
    left: 50%;
    transform: translateX(-50%);
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 15px solid #000;
}
  


.grid-item{
    height: 160px;
    margin-bottom: 10px;
}
  
.item{
    height: 100%;
    background-color: white;
    border-radius: 10px;
    text-align: center;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0.5px solid #5882FA;
}

.hlt{
    background-color: yellow;
    color: #4E45FF;
}
  
.horizontal_logo {
    width: 60%;
    height: auto;
}
  
.veritical_logo {
    height: 80%;
    width: auto;
}

.footer-bw{
    background-color: #2E2E2E;
}

.footer-wrap{
    margin: 0 auto;
    color: white;
    font-size: 0.8rem;
    line-height: 1.5rem;
}

.footer-wrap a{
    text-decoration: none;
    color: white;
}

.image-container1 {
    width: 100%;
    height: 250px; /* 이미지를 보여줄 높이 */
    overflow: hidden; /* 넘치는 부분 숨기기 */
}
  
.cropped-image1 {
    width: 100%;
    height: auto;
    object-fit: cover; /* 이미지 비율을 유지하면서 잘 맞춤 */
    /*object-position: center -50px; /* Y 축으로 -50px만큼 이동 */
}

.image-container2 {
    width: 100%;
    height: 920px; /* 이미지를 보여줄 높이 */
    overflow: hidden; /* 넘치는 부분 숨기기 */
}
  
.cropped-image2 {
    width: 100%;
    height: auto;
    object-fit: cover; /* 이미지 비율을 유지하면서 잘 맞춤 */
    object-position: center -250px; /* Y 축으로 -50px만큼 이동 */
}

.image-container3 {
    width: 100%;
    height: 1000px; /* 이미지를 보여줄 높이 */
    overflow: hidden; /* 넘치는 부분 숨기기 */
}
  
.cropped-image3 {
    width: 100%;
    height: auto;
    object-fit: cover; /* 이미지 비율을 유지하면서 잘 맞춤 */
    object-position: center 0px; /* Y 축으로 -50px만큼 이동 */
}

.image-container4 {
    width: 100%;
    height: 400px; /* 이미지를 보여줄 높이 */
    overflow: hidden; /* 넘치는 부분 숨기기 */
}
  
.cropped-image4 {
    width: 100%;
    height: auto;
    object-fit: cover; /* 이미지 비율을 유지하면서 잘 맞춤 */
    object-position: center -250px; /* Y 축으로 -50px만큼 이동 */
}

.main-box-partners2{
    height: 350px;
    padding: 10px;
}
.text-govern{
    margin-top: 2rem;
}
.mid-title{
    margin-top: 20px;
    font-size: 2.5rem;
    color: white;
}
.arrow-title-up{
    width:100%;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.arrow-title-dn{
    width:100%;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.arrow-rotate-up{
    width: 70%; 
    transform: rotate(180deg);
}

.arrow-no-rotate-up{
    width: 70%; 
}

.arrow-rotate-dn{
    width: 70%; 
    transform: rotate(180deg);
}

.arrow-no-rotate-dn{
    width: 70%; 
}


@media (min-width: 768px) {
    .mid-title {
        font-size: 2rem; /* 웹에서 더 큰 폰트 크기 */
        white-space: nowrap; /* 한 줄로 강제 */
    }

    .mobile-line-break {
        display: none; /* 줄바꿈 제거 */
    }
}

/* 큰 화면 (1200px 이상)에서는 더 큰 폰트 */
@media (min-width: 1200px) {
    .mid-title {
        font-size: 2.5rem; /* 더 큰 화면에서는 더욱 큰 폰트 */
    }
}


@media (max-width: 768px) {
    .wrap{
        width: 90%;
    }
    .mobile-line-break {
        display: flex; /* 데스크탑에서는 줄바꿈 태그 숨기기 */
    }
    .main-title {
        font-size: 4rem; /* 모바일 화면에서 폰트 크기 */
        line-height: 3rem;
    }
    .sub-title {
        line-height: 3rem;
        margin-top: 50px;
    }
    .main-box{
        padding:40px;
        height:150px;
    }

    .image-container1{
        height: 150px; /* 이미지를 보여줄 높이 */
    }
    .image-container2{
        height: 230px; /* 이미지를 보여줄 높이 */
    }
    .cropped-image2 {
        object-position: center -300px; /* Y 축으로 -50px만큼 이동 */
    }
    .image-container3{
        height: 400px; /* 이미지를 보여줄 높이 */
    }
    .sub-title-textbox{
        height: 500px;
        background-color: transparent;
    }
    .main-box-partners{
        height: 450px;
    }
    .main-box-partners2{
        height: 550px;
    }
    .sub-title5{
        margin-top: 4rem;
    }
    .sub-title-textbox-case{
        height: 500px;
    }
    .sub-title6{
        margin-top: 2rem;
    }
    .text-govern{
        margin-top: 4rem;
    }
    .circle-ppsition{
        margin-top: 150px;
    }

    .solution-box{
        height: 550px;
        display: flex; 
        align-items: center;
    }
    .solution-box-1{
        font-size: 1.2rem;
        text-align: center;
        height:5%;
    }
    .solution-box-2{
        text-align: center;
        height:10%;
    }
    .solution-box-3{
        height:40%;
    }
    .solution-box-4{
        height:10%;
    }

    .sub-title-tech {
        padding: 30px;
    }
    .big-title{
        font-size: 4.5rem;
        color: white;
    }
    .mid-title{
        font-size: 2rem;
        color: white;
    }
    .arrow-title-up{
        height:70px;
        margin:0;
    }
    .arrow-title-dn{
        height:70px;
        margin:0;
    }
    .arrow-rotate-up{
        height: 100%; 
        width:auto;
        transform: rotate(90deg);
        margin-left: 100px;
        margin-top: -50px;
    }
    
    .arrow-no-rotate-up{
        height: 100%; 
        width:auto;
        transform: rotate(270deg);
        margin-left: -100px;
        margin-top: 50px;
    }

    .arrow-rotate-dn{
        height: 100%; 
        width:auto;
        transform: rotate(90deg);
        margin-left: -100px;
        margin-top: 50px;
    }
    
    .arrow-no-rotate-dn{
        height: 100%; 
        width:auto;
        transform: rotate(270deg);
        margin-left: 100px;
        margin-top: -50px;
    }
}